<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动分割</title>
</head>
    <style>

    </style>
<body background="/static/picture/background.jpg">
    <h1 style="text-align:center">自动分割</h1>

    <div class="main">
    <h2 style="text-align:center">选择分割的类型</h2>
    <form style="text-align:center" role="form" method="post" action="choose">
        <label class="radio-inline">
            <input type="radio" name="segment_type" value="AAT" checked="checked">腹部脂肪分割
        </label>
        <label class="radio-inline">
            <input type="radio" name="segment_type" value="Brain segmentation">颅脑分割
        </label>
        <label class="radio-inline">
            <input type="radio" name="segment_type" value="Right ventricle segmentation">右心室分割
        </label>
        <div class="form-group">
            <input type="submit" class="btn btn-default" onclick="alert('成功')" value="确定" />
        </div>
    </form>
</div>

    <form action="auto_segment" enctype='multipart/form-data' method='POST'>
        <input type="submit" class="button-new" value="开始自动分割" style="margin-top:30px;"/>
    </form>
    <h1 style="text-align:center">分割后的结果图：</h1>
    <img src="{{url_for('static', filename='./images/test.jpg')}}" width="400" height="400" alt="你的图片被外星人劫持~~"/>
    <br>
    <form action="download" enctype='multipart/form-data' method='get'>
        <input type="submit" class="button-new" value="下载图片" style="margin-top:30px;"/>
    </form>
</body>


</html>