{% extends "base.html" %}
{% block page_content %}
<head>
    <style>
    .main{
    text-align: center;
    width: 300px;
    margin: 0px auto;
    }
    </style>
<div class="page-header">
    <h1 style="text-align:center">上传需要手动分割的图片</h1>
</div>
<body background="/static/background/background.jpg">
<div class="main">
    <form role="form" action="manual_segment" enctype='multipart/form-data' method='POST'>
    <div class="form-group">
        <input type="file" name="file", style="margin-top:20px;"/>
    </div>
    <div class="form-group">
        <input type="submit" value="下一步：调整窗宽窗位" class="btn btn-default" />
    </div>
    </form>
</div>

{% endblock %}
