<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手动分割</title>
</head>
<body background="/static/picture/background.jpg">
<h1 style="text-align:center">请进行手动分割</h1>

<div class="main">
    <h2 style="text-align:center">手动分割指南</h2>
    <p>请按照步骤来进行处理</p>
    <p>第一步：点击某某button,请选择出blabla的区域</p>
    <p>第二步：确认结果后点击确认</p>
</div>

<div>
<h3 >图片显示</h3>
<button type="button">选取</button>
    <br>
<img src="{{url_for('static', filename='./photos/test.jpg')}}" class="img-thumbnail"  width="400" height="400" alt="你的图片被外星人劫持~~"  />
    <br>
<button type="button">确认</button>
</body>
</html>