<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手动分割</title>
</head>
<body background="/static/picture/background.jpg">
<h1 style="text-align:center">手动</h1>

<div class="main">
    <h2 style="text-align:center">请问需要对图像进行一些基本操作吗？</h2>
    <form style="text-align:center" role="form" method="post" action="choose2">
        <label class="radio-inline">
            <input type="radio" name="whether_basic_operation" value="Yes" checked="checked">需要
        </label>
        <label class="radio-inline">
            <input type="radio" name="whether_basic_operation" value="No">不需要
        </label>
        <br><br>
         <div class="form-group">
            <input type="submit" class="btn btn-default" onclick="alert('成功')" value="确定" />
        </div>
    </form>
    <div class="main">
    <h3 style="text-align:center">原图显示</h3>
    <img src="{{url_for('static', filename='./photos/test.jpg')}}" class="img-thumbnail" align="middle" width="400" height="400" alt="你的图片被外星人劫持~~"  />
    </div>
</div>
</body>
</html>