<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动分割</title>
</head>
<body>
    <h1>自动分割</h1>
    <form action="auto_segment" enctype='multipart/form-data' method='POST'>
        <input type="submit" class="button-new" value="开始自动分割" style="margin-top:30px;"/>
    </form>
    <h1>分割后的结果图：</h1>
    <img src="{{url_for('static', filename='./images/test.jpg')}}" width="400" height="400" alt="你的图片被外星人劫持~~"/>
    <br>
    <form action="download" enctype='multipart/form-data' method='get'>
        <input type="submit" class="button-new" value="下载图片" style="margin-top:30px;"/>
    </form>
</body>
</html>