<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图像基本处理</title>
</head>
<body background="/static/picture/background.jpg">
<h1>选择您所要进行的操作</h1>
<select>
  <option value="zoom in">放大</option>
  <option value="zoom out">缩小</option>
  <option value="transfer">平移</option>
  <option value="rotate">旋转</option>
 <option value="cut">截取</option>

</select>

<div class="main">
<h3 >图片显示</h3>
<img src="{{url_for('static', filename='./photos/test.jpg')}}" class="img-thumbnail"  width="400" height="400" alt="你的图片被外星人劫持~~"  />
</div>

 <form action="download" enctype='multipart/form-data' method='get'>
        <input type="submit" class="button-new" value="确认结果" style="margin-top:30px;"/>
    </form>
</body>
</html>